body {
  font: small Georgia, serif;
  font-family: 'Georgia', serif;
}

.country-dot {
  fill: steelblue;
  opacity: 0.9;
}

.place-dot {
  fill: #F7FAB1;
  /*opacity: 0.9;*/
}

svg {
  /*
  background-color: #000;
  */
  background-color: #DAE7E7;
  font: Helvetica, Arial, sans-serif;
  font-family: 'Helvetica', 'Arial', 'sans-serif';
  font-size: 10pt; 
  /*
	fill: #DAE7E7;
  */
}

.subunit { 
  /*
  fill: #000; 
  */
  fill: #273C5A;
}

.subunit-boundary {
  fill: none;
  /*
  stroke: #DAE7E7;
  */
  stroke: none;
  stroke-linejoin: round;
}
