svg {
	border: solid 1px;
	background-color: #636363;
	fill: none;
}

.place {
	fill: #F7FAB1;
	/*fill: #000;*/
}

/*
svg {
	-webkit-transform: rotate(270deg);
}
*/

.subunit { fill: #000; }

.subunit-boundary {
  fill: none;
  /*
  stroke: #777;
  */
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
}
