.country-dot {
  fill: steelblue;
  opacity: 0.03;
}

.place-dot {
  fill: #F7FAB1;
  opacity: 0.04;
}

svg {
	background-color: #DAE7E7;
	fill: #DAE7E7;
}

.subunit { fill: #000; }

.subunit-boundary {
  fill: none;
  stroke: #fff;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
}
